java_hosts: 
  hosts:
    {% for droplet in (droplets.results | map(attribute='data.droplet')) -%}
    {{ droplet.name | replace("-", "_") }}:
      ansible_python_interpreter: python3
      ansible_ssh_host: "{{ droplet.networks.v4[0].ip_address }}"
      ansible_ssh_user: root
      ansible_ssh_private_key_file: "{{ ssh_private_key_file }}"
    {% endfor %}
